{
  "plugins": 
  [
      "react-hot-loader/babel"
  ],
  "presets": 
  [
      "es2015",
      "stage-0",
      "stage-3",
      "react"
  ],
  "env": 
  {
      "production": 
      {
          "presets": 
          [
              "react-optimize"
          ]
      },

      "development": 
      {
          "plugins": 
          [
              "transform-react-jsx-source"
          ]
      },
      
      "jest" :true,
      "test": {
        "presets": [["env"], "react"],
        "plugins": ["transform-class-properties", "transform-es2015-arrow-functions", "transform-es2015-modules-commonjs"]
      }
  }
}