{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "globals": {
      "window": true,
      "FileReader": true,
      "autobind": true,
      "document": true,
      "$_ENVIRONMENT": true,
      "$_DEBUG": true,
      "$_DISABLE_MOCKS": true,
      "$_DEFAULT_LOCALE": true,
      "describe": true,
      "test": true,
      "expect": true,
      "shallow": true,
      "mount": true,
      "render": true,
      "jest": true,
      "sinon": true,
      "AmCharts": true,
      "FormData": true,
      "URL": true
    },
    "settings": {
      "import/resolver": "webpack"
    },
    "rules" : {
      "arrow-parens": ["error", "always"],
      "arrow-body-style": 0,
      "comma-dangle": ["error", "never"],
      "no-console": 0,
      "no-unused-expressions": ["error", { "allowTernary": true }],
      "radix": ["error", "as-needed"],
      "import/extensions": 0,
      "no-trailing-spaces": 0,
      "import/prefer-default-export": 0,
      "react/jsx-closing-bracket-location": [2, { "location": "after-props" }],
      "no-multi-spaces": 0,
      "object-curly-spacing": ["error", "always"],
      "react/jsx-curly-spacing": [2, "always"],
      "react/jsx-first-prop-new-line": 0,
      "react/jsx-indent": [2, 2],
      "react/jsx-indent-props": 0,
      "global-require": 0,
      "import/no-named-as-default": 0,
      "react/jsx-filename-extension": 0,
      "react/no-did-mount-set-state": 0,
      "react/forbid-prop-types": 0,
      "no-confusing-arrow": 0,
      "linebreak-style": 0,
      "class-methods-use-this": 0,
      "jsx-a11y/no-static-element-interactions": 0,
      "import/no-unresolved": "off",
      "jsx-a11y/anchor-has-content": 2,
      "jsx-a11y/label-has-for": 0,
      "react/jsx-tag-spacing": [2, { "beforeSelfClosing": true}],
      "react/no-danger": 0,
      "newline-after-var": ["error"],
      "newline-before-return": ["error"],
      "no-underscore-dangle": 0,
      "no-plusplus": 0
    },
    "parserOptions": {
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true
      }
    }
  }